/* Styling af Koncerter side*/
#koncertindledning {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 0.5% 2%;
    font-size: larger;
}

#koncertindledning p {
    text-align: left;
}

h2 {
    font-weight: bold;
}

.streg {
    width: 100%;
    margin: 1% auto;
    border-color: var(--Sort);
}

.koncerter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 0.7%;
    margin-bottom: 5%;
    max-width: 96%;
    font-size: larger;
}

.koncertcontainer {
    max-width: 100%;
    background-color: var(--Fersken);
    color: var(--Sort);
}

.koncertcontainer:hover {
    background-color: var(--Brun);
}

.koncertcontainer p {
    max-width: 80%;
    margin-left: 2%;
}

.koncertcontainer h2 {
    margin-left: 2%;
    font-weight: bold;
}

.koncertcontainer h3 {
    margin-left: 2%;
    font-weight: bold;
}

.koncertcontainer h4 {
    text-align: right;
    max-width: 50%;
    margin-right: 0.5%;
}

.koncertcontainer img {
    max-width: 100%;
}

.artist {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    gap: 5%;
}

.knap {
    width: 50%;
    height: 40%;
    background-color: var(--Lilla);
    margin-top: 53%;
}

.knap:hover {
    background-color: var(--Sand);
}

/* Responsiv styling */
@media (min-width: 992px) {
    #koncertindledning {
        text-align: left;
        padding: 0.5% 2%;
        margin-right: 40%;
        font-size: 100%;
    }

    .streg {
        width: 172%;
        margin: 1% auto;
        border-color: var(--Sort);
    }

    .koncerter {
        display: flex;
        flex-wrap: wrap;
        margin-left: 2%;
        margin-right: 0.7%;
        margin-bottom: 2%;
        flex-direction: row;
        max-width: 100%;
        font-size: 100%;
    }
    .koncertcontainer {
        max-width: 33%;
        background-color: var(--Fersken);
        color: var(--Sort);
    }
    .koncertcontainer h4 {
        max-width: 100%;
    }
    .knap {
        width: 50%;
        height: 40%;
        background-color: var(--Lilla);
        margin-top: 18%;
    }
}